<ion-header>
  <ion-toolbar>
    <ion-title>Get Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list *ngFor="let item of picture">
  <div>
    <ion-list>
        <img src="{{item.image}}" >
    </ion-list>
    </div>
  
    <ion-list>
      <ion-item>
        <p>{{item.name}} </p>
      </ion-item>
      <ion-item>
        <p>{{item.email}} </p>
      </ion-item>
    </ion-list>
    <ion-button (click)="deleteprofile(item.id)">Delete</ion-button>
    <ion-button (click)="PhotoUpdate(item)">Update</ion-button>
</ion-list>

</ion-content>
