<ion-header>
  <ion-toolbar>
    <ion-title>Swiper.js Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <swiper class="mySwiper" #swiper [config]="Config" [pagination]="true" [virtual]="true" >
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
    <ng-template swiperSlide><img src="./../../assets/ttt.jpg" alt=""></ng-template>
  </swiper>
  
  <ion-button (click)="slideNext()">Next Slide</ion-button>
  <ion-button (click)="slidePrev()">Prev Slide</ion-button>


</ion-content>
