<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-list>
      <img src="{{photo.image}}" id="cameraImage">
  </ion-list>
  <ion-button (click)="addNewToGallery()">
    Upload img
  </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="photo.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="photo.email"></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button (click)="PhotoData()">Submit</ion-button>
    </div>
  </ion-list>


</ion-content> -->
