
  .d1{
	width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .d2{
	margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
	}
	img{
		height: 200px;
		width: 300px;
	}
	.d3{
		display: flex;
    justify-content: center;
	
	}
	.d4{
		padding: 20px;
	}
	.d5{
		float: left;
		padding: 20px;
	}
	
	.h11{
		font-weight: 800;
		color: rgb(101, 96, 96);
		font-family: sans-serif;

	}
	.h31{
		color: blue;
		font-weight: 800;
	}
	.dev1{
		
		display: flex;
	}
	
	.div2{
		width: 22%;
    border-bottom: 1px solid black;
    height: 37px;
    margin-left: 14px;
	text-align: center;
	font-weight: 700;

	}
	.div4{
		width: 73%;
		border-bottom: 1px solid black;
		height: 37px;
		margin-left: 14px;
		text-align: center;
	font-weight: 700;
	}
	.div5{
		width: 79%;
		border-bottom: 1px solid black;
		height: 37px;
		margin-left: 14px;
		text-align: center;
	font-weight: 700;
	
	}
	.div6{
		width: 40%;
		border-bottom: 1px solid black;
		height: 37px;
		margin-left: 14px;
		text-align: center;
	font-weight: 700;
	}
	.div7{
		width: 30%;
		border-bottom: 1px solid black;
		height: 37px;
		
		margin-left: 14px;
		text-align: center;
	font-weight: 700;
	}
	.div8{
		width: 73%;
		border-bottom: 1px solid black;
		margin-left: 5px;
		height: 37px;
		text-align: center;
	font-weight: 700;
	}
	.div9{
		width: 71%;
		border-bottom: 1px solid black;
		margin-left: 5px;
		height: 37px;
		text-align: center;
	font-weight: 700;
	
	}
	.div10{
		width: 73%;
		border-bottom: 1px solid black;
		margin-left: 5px;
		height: 37px;
		text-align: center;
	font-weight: 700;
	}
	.div11{
		
		width: 22%;
		border-bottom: 1px solid black;
		margin-left: 51%;
		height: 37px;
	}
	.name{
		font-weight: 700;
		
		color: rgb(101, 96, 96);
	    width: auto;
		
		
	}
	.names{
		font-weight: 700;
		margin-left: 10px;
		color: rgb(101, 96, 96);
		
	}