<ion-header>
  <ion-toolbar>
    <ion-title>printer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button class="btn1"
        styleSheetFile="assets/css/style.css"
        printSectionId="demo"
        ngxPrint>
          <ion-icon name="document-text-outline"></ion-icon> Export
        </button>
  <div class="d1" id="demo">
    <div class="d2" id="d2">
      <img src="../../../assets/Baba Farid Smart Valley Logo.png" alt="" id="img">
      
    </div>
    <div class="d3" id="d3">
      <h3 class="h11" id="h11">
        Well Come 
      </h3>
    </div>
    <div class="d4" id="d4">
    
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
            Plot NO:
          
          </h3>
          <div class="div2" id="div2">
            <p>
              Block-B/20
            </p>
          </div>
          <h3 class="names" id="names">
          Plot Size:
          </h3>
          <div class="div2" id="div2">
          
              <p>
                10 Marla
              </p>
          
          </div>
          <h3 class="names" id="names">
          Date:
          </h3>
          <div class="div2" id="div2">
            <p>
            10/10/2022
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Name of Purchaser:
          </h3>
          <div class="div4" id="div4">
            <p>
            Usman Fareed
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Father Name:
          </h3>
          <div class="div5" id="div5">
            <p>
              Ghulam Hussain
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
            Cinic NO:
          
          </h3>
          <div class="div6" id="div6">
            <p>
              36402-2851952-7
            </p>
          </div>
          <h3 class="names" id="names">
          Mobile NO:
          </h3>
          <div class="div7" id="div7">
            <p>
              03066929087
            </p>
          </div>
        
          
          
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Installment Amount:
          </h3>
          <div class="div8" id="div8">
            <p>
              20000000
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Next Installment Date:
          </h3>
          <div class="div9" id="div9">
            <p>
            18-06-2023
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Remaining Amount:
          </h3>
          <div class="div10" id="div10">
            <p>
              12000000
            </p>
          </div>
        </div>
        <div class="dev1" id="dev1">
          <h3 class="name" id="name">
          Managing Director:
          </h3>
          <div class="div11" id="div11">

          </div>
        </div>
      
      
      
    </div>
  
  </div>
  
</ion-content>

